body {
   margin: 0;
   font-family: 'Baloo 2', cursive;
}

nav {
    height: 2rem;
    padding: 0.8rem;
    background-color: rgb(3, 169, 244);
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.2);
}
a {
    color: #1DA1F2;
}
input {
    border: solid 1px #cecece;
    border-radius: 4px;
    padding: 10px;
    font-size: 15px;
    outline: none;
    margin: 10px;
}

input[type=submit] {
    color: gray;
    font-weight: bold;
}

input[type=submit]:hover {
    background-color: #cecece69;
}

input[type=submit]:active {
    background-color: darkgray;
}

hr {
    border: solid 1px #E1E8ED;
}
.nav-item {
    display: inline-block
}

.nav-brand {
    font-size: 20px;
    color: white;
    font-weight: bold;
}

.container {
    margin: 0 10rem;
}

.center {
    text-align: center;
}

.search-form-container {
    padding: 2rem;
}

.card {
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.2);
    padding: 1rem;
}
.profile-img {
    display: inline-block;
    height: 150px;
    width: 150px;
    border: solid 2px gray;
    border-radius: 50%;
}
.profile-img:hover {
    opacity: 0.7;
}

.profile-info-container {
    display: inline-block;
    vertical-align: top;
    margin-left: 2rem;
    max-width: 60%;
    overflow-wrap: break-word;
}

/* name of the user */
.profile-info-container p:nth-child(1) {
    font-size: 1.2rem;
    margin: 8px 0;
}

/* handle of the user */
.profile-info-container p:nth-child(2) {
    font-weight: bold;
    margin-top: 0;
}

.follower-stats > * {
    display: inline-block;
    margin-right: 1rem;
}

/*  tweets */
.tweets-container {
    margin-top: 1rem;
}

.user-info {
    display: inline-block;
    vertical-align: top;
    margin-left: 1rem;
    max-width: 85%;
    user-select: none;
}

.user-info > * {
    display: inline-block;
}
.tweet-stats > * {
    display: inline-block;
    margin-right: 1rem;
    vertical-align: sub;
}
.user-name {
    font-weight: bold;
}
.spinner {
    display: none;
    font-size: 5rem; 
    color: gray;
    margin: auto;
}

#alert {
    color: red;
}

/* Twitter classes */
.Emoji {
    height: 1.25em;
    width: 1.25em;
    padding: 0 .05em 0 .1em;
    vertical-align: -0.2em;
}

.twitter-hashtag {
    font-weight: normal;
    text-decoration: none;
}

.tweet-card {
    margin-bottom: 5px;
}

.tweet-card:hover {
    background-color: #e6ecf0;
}

/* Modal properties */

  
/* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
    text-align: center;
  }
    /* Add Animation */
.modal-content {
    border-radius: 50%;  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  @keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
  }
  
  /* The Close Button */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  }
#tweetModal {
    padding-top: 0;
}
.modal-card {
    background-color: white;
    margin: 7rem 15rem;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.2);
    padding: 1rem;
    border-radius: 4px;
}
.tweet-header {
    text-align: left;
}
.header-item {
    display: inline-block;
    margin: 0 .2rem;
    font-size: 1.2rem;
}
.v-center-align {
    vertical-align: top;
    margin-top: 1rem;
}
.tweet-content {
    padding: 1rem 0;
    text-align: justify;
}

.fas {
    color: #1DA1F2;
}
#imgs-modal > * {
    margin-left: -1rem;
}

.inline-block {
    display: inline-block;
}
/* #overlap-img {
    margin-left: -1.2rem;
} */